.main{
    display: flex;
}
.header{
    padding: 10px;
    width: 400px;
    height: 700px;
    border: 5px solid gray;
    margin-left: 400px;
    border-radius: 50px;
    background-color: aliceblue;
}
.first{
    display: flex;
}
.fa-camera{
    padding: 10px;
    font-size: 20px;
}
h1{
    margin: 10px 72px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paperplain{
    padding: 10px;
    font-size: 20px;
}


.thre{
    display: flex;
    height: 120px;
}
.img1{
    height: 70px;
    width: 70px;
    border-radius: 60%;
    background:linear-gradient(white; white) padding box, linear-gradient (to right darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
}
.img2{
    height: 70px;
    width: 70px;
    border-radius: 60%;
    margin-left: 10px;
    border: 2px solid(red, yellow);

}

hr{
    margin-top: -35px;
}
.for{
    display: flex;
}
.for img{
    height: 70px;
    width: 70px;
    border-radius: 60%;
    margin-top: 10px;
    background-image: linear-gradient(to right, red , yellow);

}
.for p{
    align-content: center;
    margin-left: 20px;
}
.for i{
    align-content: center;
    margin-left: 150px;
}
.fiv img{
    margin-top: 10px;
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 50px;
    margin-left: 50px;
    align-items: center;
    margin-top: -10px;
    
}
.sev{
    display: flex;
}
.sev1{
    font-size: 20px;
}
.sev2{
    font-size: 20px;
    margin-left: 10px;
}
.sev4{
    font-size: 20px;
    margin-left: 280px;
    align-content: center;
}
.eig{
    display: flex;
}
.eigicon1{
    font-size: 20px;
    margin-left: 10px;
}
.eigicon2{
    font-size: 20px;
    margin-left: 65px;
}
.border{
    border-bottom: 4px solid black;
    width: 100px;
    margin: 14px 140px;

}
.sec{
    padding: 10px;
    width: 400px;
    height: 700px;
    margin-left: 100px;
    border: 5px solid gray;
    border-radius: 50px;
    background-color: aliceblue;

}
 .head1{
    display: flex;
 }
 .head1 img{
    height: 30px;
    width: 30px;
    margin-left: 250px;
    border-radius: 60px;
    align-content: center;
    margin-top: 10px;
 }
 .head2{
    display: flex;
 }
 .p2{
    margin-left: 30px;
 }
 
.sendmessage{
    background-color: blue;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 60px;
    border: none;

}

.icon1{
    padding: 10px;
    font-size: 22px;
    color: gray;
    align-content: center;
}
.icon1:active{
    color: blue;
}
.icon2{
    padding: 10px;
    font-size: 22px;
    color: gray;
    margin-left: 65px;
}

.web1{
    height: 100px;
    width: 130px;
}
.web2{
    height: 100px;
    width: 130px;
    margin-left: 5px;
}
.web3{
    height: 100px;
    width: 130px;
  margin-left: 5px;
}
.web4{
    height: 100px;
    width: 130px;
    margin-top: 3px;
}
.web5{
    height: 100px;
    width: 130px;
    margin-top: 3px;
    margin-left: 5px;
}

.footer{
    display: flex;
    margin-top: 40px;
}
.footericon1{
    font-size: 20px;
    margin-left: 10px;

}
.footericon2{
    font-size: 20px;
    margin-left: 65px;
}
.borderf{
    border-bottom: 4px solid black;
    width: 100px;
    margin: 30px 200px;
}
